{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static "css/receipts.css" %}">
        <title>
            {% block title %}
            {% endblock title %}
        </title>
    </head>
    <body>
        <header class="website-header">
            <div class="logo">
                <span class="logo-snap">SNAP</span><span class="logo-concurb">ConCurb</span>
            </div>
            <nav class="main-nav">
                <ul class="nav-list">
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <p class="nav-link">Hello, {{ user.username }}</p>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url "home" %}">Home</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "category_list" %}">By Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "account_list" %}">By Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "create_receipt" %}">+ New Receipt</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "create_category" %}">+ New Category</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "create_account" %}">+ New Account</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "logout" %}">Log Out</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "signup" %}">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "login" %}">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        {% block content %}
        {% endblock content %}
        <footer>
            Expenses tamed, one snap at a time! 🦁
        </footer>
    </body>
</html>
