{% extends "base.html" %}

{% load static %}

{% block title %}
    SNAP ConCurb - Sign Up
{% endblock title %}
{% block content %}
    <main>
        <div>
            <h1>Sign Up</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Signup</button>
            </form>
        </div>
        <div class="log-wrapper">
            <div class="log-form">
                <button class="demo">See a demo</button>
                <button class="pricing">Request pricing</button>
            </div>
            <div class="log-card">
                <div class="card-content">
                    <div class="card-text">
                        <h2>Expenses tamed, one snap at a time</h2>
                        <p>
                            Simplify your business: Expenses, travel, and invoices unified. Simplify spend processes and make reimbursements for your employees with expense reports that practically write themselves!
                        </p>
                    </div>
                    <div class="card-image">
                        <img src="{% static 'images/image1.jpg' %}" alt="Employee">
                    </div>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}
