{% extends "base.html" %}

{% block title %}
    SNAP ConCurb - By Categories
{% endblock title %}
{% block content %}
    <main>
        <h1>Categories</h1>
        <table>
            <thead>
                <tr>
                    <th>Category Name</th>
                    <th>Number of Receipts</th>
                </tr>
            </thead>
            <tbody>
                {% for category in category_list %}
                    <tr>
                        <td>{{ category.name }}</td>
                        <td>{{ category.receipt_count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
{% endblock content %}
