body {
    font-family: Helvetica, sans-serif;
    padding: 1%;
}

main {
    padding: 16px;
}

header {
    margin-bottom: 50px;
}

.logo {
    font-weight: 700;
    font-size: 22px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}

.logo-snap {
    color: #5BC0DE;
}

.logo-concurb {
    color: #fff
}

.website-header {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 1em;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 1em;
}

.nav-list {
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    gap: 1em;
    flex-wrap: wrap;
    align-items: center;
  }

.nav-link {
  color: #fff;
  font-weight: 550;
  text-decoration: none;
  display: inline-block;
  padding 0.5em 0;
}

.nav-link:hover {
    color: #FF6600;
}

h1 {
    color: #333;
    font-size: 1.6em;
}

h2 {
    color: #4B4B4B;
    font-size: 1.4em;
}

table {
    font-family: Helvetica, sans-serif;
    font-size: 14.5px;
    border: 1px solid gray;
    border-radius: 2px;
    box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    text-align: left;
    background-color: #FFFAFA;
    color: #333;
}

th, td {
    padding: 3px 50px 3px 3px;
}

button {
    font-family: Helvetica, sans-serif;
    text-align: left;
    width: 233px;
    margin: -10px 4px 30px 0px;
	padding: 8px 16px;
	background: #dfe1e5;
	font-size: 16px;
	border: none;
	border-radius: 4px;
}

button:hover {
    color: #8B4513;
    background-color: #FFD8B2;
}


footer {
    padding: 16px 16px;
    font-weight: 575;
    margin-top: 150px;
    background-color: #333;
    color: #fff;

}

.log-wrapper {
    display: flex;
    justify-content: space-between;
}

.log-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 100px;
}

.log-card {
    border: 2px solid #333;
    border-radius: 2px;
    box-shadow: 2px 4px 6px rgba(0,0,0,0.5);
    width: 500px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
}

.card-content {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .card-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    padding: 20px;
  }

  .card-text h2 {
    margin-top: 0;
    font-size: 25px;
  }

  .card-image {
    flex: 0 0 auto;
    margin-left: 20px;
  }

  .card-image img {
    max-width: 200px;
    height: auto;
    border-radius: 2px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.5);

  }

.demo {
    font-family: Helvetica, sans-serif;
    text-align: left;
    width: 233px;
    margin: 10px 4px 30px 0px;
	padding: 8px 16px;
	background: #5BC0DE;
    color: #333;
	font-size: 16px;
	border: none;
	border-radius: 4px;
}
